<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    
    <body style="background-color:#adff2f;">
    <img src="https://media3.s-nbcnews.com/j/newscms/2015_32/716996/fruit-smoothies-today-tease-1-150805_f1b20de057704b0707570a6613e1f25a.today-inline-large.jpg" alt="Smoothiekuvan lataamisessa ongelma" align="right"></img> 
        <h1>Hei kaikki smoothiefanit!</h1>
        
        <p>Tervetuloa! Tällä sivulla voit koostaa uusia smoothiereseptejä,</p>
        <p>tarkastella, lisätä ja poistaa raaka-aineita,</p>
        <p>tutustua muiden vierailijoiden resepteihin</p>
        <p>ja kurkistaa smoothieita koskettavaan tilastomaailmaan.</p>
        <br></br>

        <p><a href="/smoothiet">Smoothielista</a></p>
        <p><a href="/uusi">Luo uusi smoothie</a></p>
        <p><a href="/ainekset">Raaka-aineet</a></p>
        <p><a href="/tilastot">Tilastointia</a></p>
        <br></br>
        
        <p> Kuvan lähde: https://media3.s-nbcnews.com/j/newscms/2015_32/716996/fruit-smoothies-today-tease-1-150805_f1b20de057704b0707570a6613e1f25a.today-inline-large.jpg </p>
    </body>
</html>
