
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothielista</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothielista</h1>

        <ol>
            <li th:each="smoothie: ${smoothiet}">
                <span th:text="${smoothie.nimi}">smoothien nimi</span> <a th:href="${'/smoothiet/' + smoothie.id}">ohjeet</a>
            </li>
        </ol>
        
        <p></p><p><a href="/palaaetusivulle">Palaa etusivulle</a></p>
    </body>
</html>