<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothieohjeet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p>Tässäpä <span th:text="${smoothie.nimi}">smoothie</span>n ohjeet.</p>

        <ol>
            <li th:each="ainesohje: ${ainesohjeet}">
                <span th:text="${ainesohje.maara}">maara</span> <span th:text="${ainesohje.aines.nimi}">nimi</span> <br/> 
                    <span th:text="${ainesohje.ohje}">ohje</span>
                    
            </li>
        </ol>

        <p></p><p><a href="/palaaetusivulle">Palaa etusivulle</a></p>
    </body>
</html>