<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Tilastot</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tilastointia</h1>

        <table>
            <tr><th>Raaka-aine</th><th>Monessako smoothiessa?</th><th>Määrän keskiarvo</th><th>Kokonaismäärä kaikissa resepteissä</th></tr>
            <tr th:each="aines : ${tilastot}"><td th:text="${aines.nimi}">nimi</td>
                <td th:text="${aines.lukumaara}">luku</td>
                <td th:text="${aines.keskiarvo}">ka</td>
                <td th:text="${aines.kokonaismaara}">kokonais</td></tr>
        </table>
        <br></br>
        
        <p></p><p><a href="/palaaetusivulle">Palaa etusivulle</a></p>
    </body>
</html>